<tr>
    <td valign="top" align="center">
        <table width="90%" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 20px 5% 30px; padding: 20px; background-color: #FFF;">
            <tbody>
            <tr>
                <td width="45%" valign="top">
                    <div style="color:#000;margin-bottom:11px;font-size:14px;line-height:125%;text-align:left">
                        Follow Us
                    </div>
                    <div style="color:#616873;font-family:Arial;font-size:14px;line-height:125%;text-align:left">
                        <a target="_blank" style="color:#336699;font-weight:normal;text-decoration:underline" href="https://www.facebook.com/phindapp"><img style="padding-right:9px; padding-bottom: 10px; border:none;font-size:14px;font-weight:bold;min-height:auto;line-height:100%;outline:none;text-decoration:none;text-transform:capitalize;display:inline" src="<%=host%>/images/email/facebook.png"></a>
                        <a target="_blank" style="color:#336699;font-weight:normal;text-decoration:underline" href="https://twitter.com/phindapp"><img style="padding-right:9px; padding-bottom: 10px; border:none;font-size:14px;font-weight:bold;min-height:auto;line-height:100%;outline:none;text-decoration:none;text-transform:capitalize;display:inline" src="<%=host%>/images/email/twitter.png"></a>
                    </div>
                </td>
                <td width="5%" valign="top">
                    <div style="margin-top:13px;color:#616873;font-family:Arial;font-size:14px;line-height:125%;text-align:left">
                        <a target="_blank" style="font-weight:normal;text-decoration:underline" href="http://www.phind.it/"><img style="border:none;font-size:14px;font-weight:bold;min-height:auto;line-height:100%;outline:none;text-decoration:none;text-transform:capitalize;display:inline" src="<%=host%>/images/email/logo.png"></a>
                    </div>
                </td>
                <td width="45%" valign="top">
                    <div style="color:#000;text-align:right;margin-bottom:5px;font-size:14px;line-height:125%">
                        <a target="_blank" href="http://www.phind.it/">PHIND</a>, Inc.
                    </div>
                    <div style="color:#000;text-align:right;font-size:14px;line-height:125%">9271 Research Drive<br/>Irvine, CA 92618</div>
                </td>
            </tr>
            </tbody>
        </table>
    </td>
</tr>