<tr>
    <td valign="top" align="center">
        <table width="90%" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: 30px 5% 20px; background-color: #FFF;">
            <tbody>
                <tr>
                    <td>
                        <a target="_blank" href="http://www.phind.it/"><img border="0" style="width:100%;margin:0;padding:0;max-width:800px;border:none;font-size:14px;font-weight:bold;min-height:auto;line-height:100%;outline:none;text-decoration:none;text-transform:capitalize;display:block;" alt="" src="<%=host%>/images/email/email_background_header.jpg"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>